// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$greeny: #4A9F91;
$lighter-green: #81D6C6;
$silver: #DCE8E1;
$smooth-black: #212529;
$grey-black: #4A4F54;
$black: #0D0C0C;
