// Specific CSS for your home-page
.h1-header {
  font-size: 52px;
}

.p-header {
  font-size: 20px;
}

.text-span-1 {
  color: $greeny;
}

.card {
  background-color: transparent;
  border: solid 0.1px $greeny;
  border-radius: 10px;
}
.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  border: none;
}

.card-body {
  color: $silver;
  text-align: center;
}


@media (max-width: 768px) {
  .h1-header {
      max-width: 100%;
      font-size: 2.1rem;
      line-height: 3.2rem;
  }
  .p-header{
    font-size: 14px;
  }

}
