// CSS for header and body
.h1-header {
  font-size: 52px;
  font-weight: bold;
}

.p-header {
  font-size: 20px;
}

.text-span-1 {
  color: $lighter-green;
}
.yid {
  font-family: "Megrim";
}

.profile-logo img {
  border-radius: 50%;
  width: 100%;
  max-width: 100%; /* pour que l'image ne dépasse pas la largeur du conteneur parent */
  height: auto; /* Garantit que l'aspect ratio de l'image est préservé */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); /* Ajoute un effet d'ombre douce */
}

body {
  background-image: linear-gradient(#020016 60%, rgba(2, 0, 22, 0.7) 80%), url(main/jups.png);
  background-size: cover; /* Ajuste la taille de l'image pour couvrir toute la zone */
  background-repeat: no-repeat; /* Empêche l'image de se répéter */
  background-attachment: fixed; /* Fixe l'image en place lors du défilement de la page */
}


//css for services section

.container-service {
  margin-bottom: 100px;
  margin-top: 150px;
}
.cards {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(4, 1fr); /* Deux cartes par ligne minimum, largeur minimale de 150px */
}
.card {
  background-color: transparent;
  color: $silver;
  text-align: center;
  padding: 24px;
  border-radius: 8px;
  transition: transform 0.5s ease;
}
.card:hover {
  transform: scale(1.05);
  border: none;
  background-color:$night;
}
.card-title {
  font-weight: bold;
}
.card-text {
  font-size: 18px;
}

//responsive mode for header
@media (max-width: 768px) {
  .h1-header {
      max-width: 100%;
      font-size: 2.1rem;
      line-height: 3.2rem;
  }
  .p-header{
    font-size: 14px;
  }

}
// responsive for cards
@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .container-service {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .cards {
    grid-template-columns: 1fr;
  }
}
