// Specific CSS for your home-page
.h1-header {
  font-size: 52px;
  font-weight: bold;
}

.p-header {
  font-size: 20px;
}

.text-span-1 {
  color: $greeny;
}

.cards {
  display: grid;
  grid-template-columns: 1fr,1fr;
  grid-gap:16px;
}

.card {
  background-color: $smooth-black;
  border-radius: 6px;
  transition: transform 0.5s ease;

}
.card:hover {
  transform: scale(1.05);
  border: none;
  background-color:$black;
}

.card-body {
  color: $silver;
  text-align: center;
}


@media (max-width: 768px) {
  .h1-header {
      max-width: 100%;
      font-size: 2.1rem;
      line-height: 3.2rem;
  }
  .p-header{
    font-size: 14px;
  }

}
