.arrow-link {
  color: $yellow;
  text-decoration: none;
  font-size: 28px;
  transition: transform 0.3s;
}

.card-product-container{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.card-product {
  background-color: $smooth-black;
  color: $silver;
  padding: 20px;
  border-radius: 8px;
}

// responsive mode for cards-product

@media(max-width: 992px) {
  .card-product-container {
    grid-template-columns: 2fr;
  }
}

@media(max-width: 768px) {
  .card-product-container {
    grid-template-columns: 1fr;
  }
}
