<div class = "container">
  <div class="container my-5">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12 mb-3">
            <h1 class="h1-header"> <span class="yid">YIDIR</span> transforme vos <span class="text-span-1">idées</span> en réalités <span class="text-span-1">numériques</span></h1>
          </div>
          <div class="col-md-12 mb-5">
            <p class="p-header">De la conception au développement d'applications web et web-mobile sur mesure</p>
          </div>
          <div class="col-md-12">
            <div class="button-container">
              <%= link_to "On discute de vos idées ?", "#", class: "header-button" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Nouvelle section "Les Services" -->
  <div class = "container container-service">
    <div class="row">
      <div class="col-md-12 mb-4 text-center">
        <h2>Les Services</h2>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Wireframe</h3>
            <p class="card-text">Le schéma visuel simplifié  de la page web ou de l’ appli montrant la disposition des différents éléments.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">UI Design</h3>
            <p class="card-text">L’art  d’organiser les éléments d’une interface pour rendre le site web intuitif, attractif et facile à utiliser.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card ">

          <div class="card-body">
            <h3 class="card-title">UX Design</h3>
            <p class="card-text">L’optimisation de l’expérience utilisateur-ice, avec un focus sur la facilité d’utilisation et l’accessibilité.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Développement</h3>
            <p class="card-text">La création et la mise en œuvre des fonctionnalités de l’appli grâce à différents langages de programmation.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Nouvelle section "Les Technos" -->
  <div class = container>
    <div class = row>
      <div class="col-md-12 my-4 text-center">
        <h2>Les Technos</h2>
      </div>
    </div>
  </div>
  <!-- Nouvelle section "Le Process" -->
  <div class = container>
    <div class = row>
      <div class="col-md-12 my-4 text-center">
        <h2>Le Process</h2>
      </div>
    </div>
  </div>
</div>
