<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12 mb-3">
          <h1 class="h1-header">Yidir transforme vos <span class="text-span-1">idées</span> en réalités <span class="text-span-1">digitales</span></h1>
        </div>
        <div class="col-md-12 mb-3">
          <p class="p-header">De la conception au développement d'applications web et web-mobile sur mesure</p>
        </div>
        <div class="col-md-12">
          <div class="button-container">
            <%= link_to "On discute de votre idée ?", "#", class: "header-button" %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <section class="profile-wrap">
        <%= link_to "#", class: "profile-logo" do %>
          <%= image_tag "profile.png", alt: "Yidir", width: 350 %>
        <% end %>
      </section>
    </div>
  </div>
</div>
