/* Styles pour le bouton de la navbar "Contactez-nous" */
.navbar-button {
  text-decoration: none;
  background-color: transparent; /* Couleur de fond du bouton */
  border: 1px solid $lighter-green;
  color: $lighter-green;
  padding: 8px 20px; /* Espace à l'intérieur du bouton */
  border-radius: 14px; /* Coins arrondis du bouton */
  transition: background-color 0.3s ease; /* Transition de couleur de fond au survol */
}

.navbar-button:hover,
.header-button:hover,
.bottom-button:hover {
  // background: linear-gradient(to bottom, $lighter-green, $greeny); /* Dégradé linéaire de gauche à droite */
  // ; /* Couleur de fond au survol */
  background: $greeny;
  color: $silver;
  transition: background-color 0.3s ease;
}

.header-button {
  text-decoration: none;
  color: $lighter-green;
  padding: 16px;
  border: solid 1px $lighter-green;
  border-radius: 8px;
  font-size: 18px;
}

.bottom-button {
  text-decoration: none;
  color: black;
  background-color: $lighter-green;
  padding: 12px;
  border: solid 1px $night;
  border-radius: 12px;
  font-size: 18px;
}



@media (max-width: 768px){
  .navbar-button {
    font-size: 14px; /* Réglez la taille de la police */
   }
}
