.navbar-yidir {
  justify-content: center;
  align-items: center;
  background: $smooth-black;
  padding: 20px;
  color: $silver;
  border-bottom: 4px solid rgba(255, 255, 255, .05);
  position:sticky;
  top: 0;
  right: 0;
  z-index: 1000;
  margin-bottom: 130px;
}

//style on scroll
.navbar-transparent {
  background: $black;
  transition:0.3s ease, border-color 0.3s ease; /* Transition fluide de la couleur de fond et de la couleur de la bordure */
}


.navbar-yidir .navbar-logo img {
  width: 80px;
}

.navbar-yidir .nav-link {
  color: $silver;
  font-size: 20px;
  font-weight: medium;
}

.navbar-yidir .nav-link:hover{
  color: $lighter-green;
  transform: scale(1.1); /* Agrandissement de 10% */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Ombre portée pour l'effet 3D */
  transition: all 0.3s ease; /* Transition fluide de toutes les propriétés */
}

.nav-links-container {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-direction: row;
  display: flex;
}


/* Gestion de la visibilité en mode responsive */

@media (max-width: 768px) {
  .navbar-yidir .navbar-logo img {
    width: 50px;
  }

  .navbar-yidir {
    width:100%;
    margin-bottom:0px;
  }

  .navbar-yidir .nav-link {
    font-size: 14px;
  }
  .navbar-yidir .nav-link:hover {
    color: $lighter-green; /* Couleur du texte au survol */
    transform: none;
    text-shadow: none;
  }

  .nav-links-container {
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    flex-direction: column-reverse;
    display: flex;
  }
}
